@font-face {
  font-family: 'TT Travels';
  src: url('../fonts/TTTravels-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Travels DemiBold';
  src: url('../fonts/TTTravels-DemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
