/* fonts */
$TravelsRegular: 'TT Travels';
$TravelsDemiBold: 'TT Travels DemiBold';
$fontStandart: 'Arial, sans-serif';

/* colors */

$white: #fff;
$black: #000;
$lilacD4: #6B46D4;
$dark29: #262529;


